.classpath
.project
.settings
.svn
*.idea
*.iml
*.ipr
*.iws
*.log
*.tar.gz
*/pom.xml.releaseBackup
*~
catalog.xml
data
incogito-application/src/test/resources/cluster-it/node-it/etc/
incogito-ems-server/binaries
incogito-ems-server/database
incogito-web/src/test/resources/incogito.properties
jmeter/*.*
nbactions.xml
nbproject
pom.xml.releaseBackup
private
release.properties
target
