<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:constretto="http://constretto.org/schema/constretto"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.4.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
       http://constretto.org/schema/constretto http://constretto.org/schema/constretto/constretto-1.2.xsd">

  <context:component-scan base-package="no.java.portal.domain"/>

  <bean id="onpDataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
    <property name="driverClassName" value="${onp.jdbc.driver}"/>
    <property name="url" value="${onp.jdbc.url}"/>
    <property name="username" value="${onp.jdbc.username}"/>
    <property name="password" value="${onp.jdbc.password}"/>
  </bean>

  <bean id="cibusDataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
    <property name="driverClassName" value="${cibus.jdbc.driver}"/>
    <property name="url" value="${cibus.jdbc.url}"/>
    <property name="username" value="${cibus.jdbc.username}"/>
    <property name="password" value="${cibus.jdbc.password}"/>
  </bean>

  <!--
   |
   | Mail
   |
   | -->

  <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="host" value="${mail.server}"/>
    <property name="port" value="${mail.port}"/>
  </bean>

  <bean id="mailFrom" class="javax.mail.internet.InternetAddress">
    <constructor-arg value="${mail.from}"/>
  </bean>

  <bean id="newAccountTemplate" class="org.springframework.mail.javamail.MimeMessageHelper">
    <constructor-arg>
      <bean factory-bean="mailSender" factory-method="createMimeMessage"/>
    </constructor-arg>
    <property name="subject" value="Ny bruker"/>
    <property name="from" ref="mailFrom"/>
  </bean>

  <bean id="resetPasswordTemplate" class="org.springframework.mail.javamail.MimeMessageHelper">
    <constructor-arg>
      <bean factory-bean="mailSender" factory-method="createMimeMessage"/>
    </constructor-arg>
    <property name="subject" value="Nytt passord for javaBin"/>
    <property name="from" ref="mailFrom"/>
  </bean>

  <!--
   |
   | Constretto
   |
   | -->

  <constretto:configuration>
    <constretto:stores>
      <constretto:properties-store>
        <constretto:resource location="classpath:cibus-defaults.properties"/>
        <constretto:resource location="file:/opt/jb/cibus/etc/cibus.properties"/>
      </constretto:properties-store>
      <constretto:system-properties-store/>
    </constretto:stores>
  </constretto:configuration>

</beans>
