<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

  <import resource="classpath:spring-services-module.xml"/>

  <import resource="spring-jobs.xml"/>
  <import resource="spring-cache.xml"/>
  <import resource="spring-security.xml"/>

  <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="host" value="${mail.server}"/>
    <property name="port" value="${mail.port}"/>
  </bean>

  <bean id="onpDataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
    <property name="driverClassName" value="${onp.jdbc.driver}"/>
    <property name="url" value="${onp.jdbc.url}"/>
    <property name="username" value="${onp.jdbc.username}"/>
    <property name="password" value="${onp.jdbc.password}"/>
  </bean>

  <bean id="cibusDataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
    <property name="driverClassName" value="${cibus.jdbc.driver}"/>
    <property name="url" value="${cibus.jdbc.url}"/>
    <property name="username" value="${cibus.jdbc.username}"/>
    <property name="password" value="${cibus.jdbc.password}"/>
  </bean>

</beans>
